S5/TransactionalWebApps/assessment2/services/pmg/pmg.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://beans.core.paymentmanager.mind.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PaymentManager" targetNamespace="http://beans.core.paymentmanager.mind.com/">
  <types>
    <xs:schema xmlns:tns="http://beans.core.paymentmanager.mind.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://beans.core.paymentmanager.mind.com/" version="1.0">
      <xs:element name="WSClientException" type="tns:WSClientException" />
      <xs:element name="addCreditCard" type="tns:addCreditCard" />
      <xs:element name="addCreditCardResponse" type="tns:addCreditCardResponse" />
      <xs:element name="addPayment" type="tns:addPayment" />
      <xs:element name="addPaymentResponse" type="tns:addPaymentResponse" />
      <xs:element name="addTempCreditCard" type="tns:addTempCreditCard" />
      <xs:element name="addTempCreditCardResponse" type="tns:addTempCreditCardResponse" />
      <xs:element name="closeCreditCard" type="tns:closeCreditCard" />
      <xs:element name="closeCreditCardResponse" type="tns:closeCreditCardResponse" />
      <xs:element name="getAccountCode" type="tns:getAccountCode" />
      <xs:element name="getAccountCodeResponse" type="tns:getAccountCodeResponse" />
      <xs:element name="getAppStatistics" type="tns:getAppStatistics" />
      <xs:element name="getAppStatisticsResponse" type="tns:getAppStatisticsResponse" />
      <xs:element name="getCreditCard" type="tns:getCreditCard" />
      <xs:element name="getCreditCardResponse" type="tns:getCreditCardResponse" />
      <xs:element name="getGUID" type="tns:getGUID" />
      <xs:element name="getGUIDResponse" type="tns:getGUIDResponse" />
      <xs:element name="getMachineStatistics" type="tns:getMachineStatistics" />
      <xs:element name="getMachineStatisticsResponse" type="tns:getMachineStatisticsResponse" />
      <xs:element name="getPaymentOperationStatus" type="tns:getPaymentOperationStatus" />
      <xs:element name="getPaymentOperationStatusResponse" type="tns:getPaymentOperationStatusResponse" />
      <xs:element name="saveTempCreditCard" type="tns:saveTempCreditCard" />
      <xs:element name="saveTempCreditCardResponse" type="tns:saveTempCreditCardResponse" />
      <xs:element name="setSecurityCode" type="tns:setSecurityCode" />
      <xs:element name="setSecurityCodeResponse" type="tns:setSecurityCodeResponse" />
      <xs:element name="updateCCAccountCode" type="tns:updateCCAccountCode" />
      <xs:element name="updateCCAccountCodeResponse" type="tns:updateCCAccountCodeResponse" />
      <xs:element name="updateExpirationDate" type="tns:updateExpirationDate" />
      <xs:element name="updateExpirationDateResponse" type="tns:updateExpirationDateResponse" />
      <xs:element name="updateTempCreditCard" type="tns:updateTempCreditCard" />
      <xs:element name="updateTempCreditCardResponse" type="tns:updateTempCreditCardResponse" />
      <xs:complexType name="addPayment">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:wsClientContext" />
          <xs:element minOccurs="0" name="arg1" type="tns:addPaymentRequestDTO" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType final="extension restriction" name="wsClientContext">
        <xs:sequence>
          <xs:element minOccurs="0" name="application" type="xs:string" />
          <xs:element minOccurs="0" name="externalUser" type="xs:string" />
          <xs:element minOccurs="0" name="locale" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="username" type="xs:string" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="addPaymentRequestDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="accountCode" type="xs:string" />
          <xs:element minOccurs="0" name="adapterCode" type="xs:string" />
          <xs:element minOccurs="0" name="adapterExtraInfo" type="xs:string" />
          <xs:element name="additionalFields">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="tns:additionalFields" />
                      <xs:element minOccurs="0" name="value" type="xs:string" /> </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="amount" type="xs:double" />
          <xs:element minOccurs="0" name="ccToken" type="xs:string" />
          <xs:element minOccurs="0" name="clearingHouseReferenceID" type="xs:string" />
          <xs:element minOccurs="0" name="clientReferenceId" type="xs:string" />
          <xs:element name="closeToken" type="xs:boolean" />
          <xs:element minOccurs="0" name="currencyAlphaCode" type="xs:string" />
          <xs:element minOccurs="0" name="currencySymbol" type="xs:string" />
          <xs:element minOccurs="0" name="internalReferenceId" type="xs:string" />
          <xs:element minOccurs="0" name="operationType" type="tns:pmgPaymentOperationType" />
          <xs:element name="precision" type="xs:int" />
          <xs:element minOccurs="0" name="provider" type="xs:string" />
          <xs:element name="recurrent" type="xs:boolean" />
          <xs:element minOccurs="0" name="remark" type="xs:string" />
          <xs:element minOccurs="0" name="transactionType" type="tns:pmgTransactionType" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="addPaymentResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:addPaymentResponseDTO" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="addPaymentResponseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="adapterExtraInfo" type="xs:string" />
          <xs:element name="amount" type="xs:double" />
          <xs:element minOccurs="0" name="cardMasked" type="tns:addCreditCardResponseDTO" />
          <xs:element minOccurs="0" name="clearingHouseReferenceID" type="xs:string" />
          <xs:element minOccurs="0" name="clientReferenceID" type="xs:string" />
          <xs:element minOccurs="0" name="internalReferenceID" type="xs:string" />
          <xs:element minOccurs="0" name="status" type="tns:pmgPaymentResponseStatus" />
          <xs:element minOccurs="0" name="statusText" type="xs:string" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="addCreditCardResponseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="cardStatus" type="tns:creditCardStatus" />
          <xs:element minOccurs="0" name="cardTypeCode" type="xs:string" />
          <xs:element minOccurs="0" name="cardTypeDescr" type="xs:string" />
          <xs:element minOccurs="0" name="expMonth" type="xs:string" />
          <xs:element minOccurs="0" name="expYear" type="xs:string" />
          <xs:element minOccurs="0" name="holder" type="xs:string" />
          <xs:element minOccurs="0" name="maskedCardNumber" type="xs:string" />
          <xs:element minOccurs="0" name="provider" type="xs:string" />
          <xs:element minOccurs="0" name="startMonth" type="xs:string" />
          <xs:element minOccurs="0" name="startYear" type="xs:string" />
          <xs:element minOccurs="0" name="token" type="xs:string" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="WSClientException">
        <xs:sequence>
          <xs:element name="code" type="xs:int" />
          <xs:element minOccurs="0" name="message" type="xs:string" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="addCreditCard">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:wsClientContext" />
          <xs:element minOccurs="0" name="arg1" type="tns:addCreditCardRequestDTO" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="addCreditCardRequestDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="accountCode" type="xs:string" />
          <xs:element minOccurs="0" name="cardNumber" type="xs:string" />
          <xs:element minOccurs="0" name="cardStatus" type="tns:creditCardStatus" />
          <xs:element minOccurs="0" name="cardType" type="xs:string" />
          <xs:element minOccurs="0" name="cvv" type="xs:string" />
          <xs:element minOccurs="0" name="expMonth" type="xs:string" />
          <xs:element minOccurs="0" name="expYear" type="xs:string" />
          <xs:element minOccurs="0" name="holder" type="xs:string" />
          <xs:element name="prefixLength" type="xs:int" />
          <xs:element minOccurs="0" name="provider" type="xs:string" />
          <xs:element minOccurs="0" name="startMonth" type="xs:string" />
          <xs:element minOccurs="0" name="startYear" type="xs:string" />
          <xs:element name="sufixLength" type="xs:int" />
          <xs:element minOccurs="0" name="trackData1" type="xs:string" />
          <xs:element minOccurs="0" name="trackData2" type="xs:string" />
          <xs:element minOccurs="0" name="trackData3" type="xs:string" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="addCreditCardResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:addCreditCardResponseDTO" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="addTempCreditCard">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:wsClientContext" />
          <xs:element minOccurs="0" name="arg1" type="tns:addTempCreditCardRequestDTO" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="addTempCreditCardRequestDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="accountCode" type="xs:string" />
          <xs:element minOccurs="0" name="provider" type="xs:string" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="addTempCreditCardResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updateTempCreditCard">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:wsClientContext" />
          <xs:element minOccurs="0" name="arg1" type="tns:updateTempCreditCardRequestDTO" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updateTempCreditCardRequestDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="cardNumber" type="xs:string" />
          <xs:element minOccurs="0" name="cardType" type="xs:string" />
          <xs:element minOccurs="0" name="cvv" type="xs:string" />
          <xs:element minOccurs="0" name="expMonth" type="xs:string" />
          <xs:element minOccurs="0" name="expYear" type="xs:string" />
          <xs:element minOccurs="0" name="guid" type="xs:string" />
          <xs:element minOccurs="0" name="holder" type="xs:string" />
          <xs:element minOccurs="0" name="startMonth" type="xs:string" />
          <xs:element minOccurs="0" name="startYear" type="xs:string" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updateTempCreditCardResponse">
        <xs:sequence/> </xs:complexType>
      <xs:complexType name="updateCCAccountCode">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:wsClientContext" />
          <xs:element minOccurs="0" name="arg1" type="tns:updateCCAccountCodeRequestDTO" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updateCCAccountCodeRequestDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="accountCode" type="xs:string" />
          <xs:element minOccurs="0" name="token" type="xs:string" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updateCCAccountCodeResponse">
        <xs:sequence/> </xs:complexType>
      <xs:complexType name="saveTempCreditCard">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:wsClientContext" />
          <xs:element minOccurs="0" name="arg1" type="tns:saveTempCreditCardRequestDTO" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="saveTempCreditCardRequestDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="cardNumber" type="xs:string" />
          <xs:element minOccurs="0" name="cardType" type="xs:string" />
          <xs:element minOccurs="0" name="cvv" type="xs:string" />
          <xs:element minOccurs="0" name="expMonth" type="xs:string" />
          <xs:element minOccurs="0" name="expYear" type="xs:string" />
          <xs:element minOccurs="0" name="guid" type="xs:string" />
          <xs:element minOccurs="0" name="holder" type="xs:string" />
          <xs:element name="prefixLength" type="xs:int" />
          <xs:element minOccurs="0" name="startMonth" type="xs:string" />
          <xs:element minOccurs="0" name="startYear" type="xs:string" />
          <xs:element name="suffixLength" type="xs:int" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="saveTempCreditCardResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:saveTempCreditCardResponseDTO" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="saveTempCreditCardResponseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="cardStatus" type="tns:creditCardStatus" />
          <xs:element minOccurs="0" name="cardTypeCode" type="xs:string" />
          <xs:element minOccurs="0" name="cardTypeDescr" type="xs:string" />
          <xs:element minOccurs="0" name="expMonth" type="xs:string" />
          <xs:element minOccurs="0" name="expYear" type="xs:string" />
          <xs:element minOccurs="0" name="holder" type="xs:string" />
          <xs:element minOccurs="0" name="maskedCardNumber" type="xs:string" />
          <xs:element minOccurs="0" name="provider" type="xs:string" />
          <xs:element minOccurs="0" name="startMonth" type="xs:string" />
          <xs:element minOccurs="0" name="startYear" type="xs:string" />
          <xs:element minOccurs="0" name="token" type="xs:string" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="setSecurityCode">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:wsClientContext" />
          <xs:element minOccurs="0" name="arg1" type="tns:setSecurityCodeRequestDTO" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="setSecurityCodeRequestDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="ccToken" type="xs:string" />
          <xs:element minOccurs="0" name="securityCode" type="xs:string" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="setSecurityCodeResponse">
        <xs:sequence/> </xs:complexType>
      <xs:complexType name="closeCreditCard">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:wsClientContext" />
          <xs:element minOccurs="0" name="arg1" type="tns:closeCreditCardRequestDTO" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="closeCreditCardRequestDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="token" type="xs:string" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="closeCreditCardResponse">
        <xs:sequence/> </xs:complexType>
      <xs:complexType name="getCreditCard">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:wsClientContext" />
          <xs:element minOccurs="0" name="arg1" type="tns:getCreditCardRequestDTO" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCreditCardRequestDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="guid" type="xs:string" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCreditCardResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:getCreditCardResponseDTO" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getCreditCardResponseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="cardExpMonth" type="xs:string" />
          <xs:element minOccurs="0" name="cardExpYear" type="xs:string" />
          <xs:element minOccurs="0" name="cardNumber" type="xs:string" />
          <xs:element minOccurs="0" name="cardStartMonth" type="xs:string" />
          <xs:element minOccurs="0" name="cardStartYear" type="xs:string" />
          <xs:element minOccurs="0" name="cardStatus" type="tns:creditCardStatus" />
          <xs:element minOccurs="0" name="cardToken" type="xs:string" />
          <xs:element minOccurs="0" name="cardTypeCode" type="xs:string" />
          <xs:element minOccurs="0" name="cardTypeDescr" type="xs:string" />
          <xs:element name="debitCard" type="xs:boolean" />
          <xs:element minOccurs="0" name="holder" type="xs:string" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getGUID">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:wsClientContext" />
          <xs:element minOccurs="0" name="arg1" type="tns:getGUIDRequestDTO" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getGUIDRequestDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="accountCode" type="xs:string" />
          <xs:element name="additionalData">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string" />
                      <xs:element minOccurs="0" name="value" type="xs:string" /> </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="cardStatus" type="tns:creditCardStatus" />
          <xs:element minOccurs="0" name="ccToken" type="xs:string" />
          <xs:element minOccurs="0" name="maskChar" type="xs:string" />
          <xs:element name="maskPrefix" type="xs:int" />
          <xs:element name="maskSuffix" type="xs:int" />
          <xs:element minOccurs="0" name="pageType" type="xs:string" />
          <xs:element minOccurs="0" name="provider" type="xs:string" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getGUIDResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updateExpirationDate">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:wsClientContext" />
          <xs:element minOccurs="0" name="arg1" type="tns:updateExpirationDateRequestDTO" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updateExpirationDateRequestDTO">
        <xs:sequence>
          <xs:element name="createNewCardRecord" type="xs:boolean" />
          <xs:element minOccurs="0" name="expirationMonth" type="xs:string" />
          <xs:element minOccurs="0" name="expirationYear" type="xs:string" />
          <xs:element minOccurs="0" name="token" type="xs:string" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="updateExpirationDateResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getPaymentOperationStatus">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:wsClientContext" />
          <xs:element minOccurs="0" name="arg1" type="tns:getPaymentOpStatusRequestDTO" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getPaymentOpStatusRequestDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="clientReferenceId" type="xs:string" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getPaymentOperationStatusResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:pmgTransactionStatus" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAppStatistics">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:wsClientContext" />
          <xs:element minOccurs="0" name="arg1" type="tns:appStatisticsRequestDTO" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="appStatisticsRequestDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
          <xs:element name="lastCollectedId" type="xs:boolean" />
          <xs:element maxOccurs="unbounded" minOccurs="0" name="operations" nillable="true" type="tns:pmgStatOperations" />
          <xs:element minOccurs="0" name="startDate" type="xs:dateTime" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAppStatisticsResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:pmgStatisticsDTO" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="pmgStatisticsDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="creationDate" type="xs:dateTime" />
          <xs:element name="id" type="xs:long" />
          <xs:element minOccurs="0" name="operation" type="tns:pmgStatOperations" />
          <xs:element name="requestsNumber" type="xs:double" />
          <xs:element name="requestsPerSecondAvg" type="xs:double" />
          <xs:element name="requestsPerSecondIntervals">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:long" />
                      <xs:element minOccurs="0" name="value" type="xs:double" /> </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="requestsPerSecondMax" type="xs:double" />
          <xs:element name="requestsPerSecondMin" type="xs:double" />
          <xs:element name="responseTimeAvg" type="xs:double" />
          <xs:element name="responseTimeMax" type="xs:double" />
          <xs:element name="responseTimeMin" type="xs:double" />
          <xs:element name="sumOfResponseTime" type="xs:double" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getMachineStatistics">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:wsClientContext" />
          <xs:element minOccurs="0" name="arg1" type="tns:machineStatisticsRequestDTO" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="machineStatisticsRequestDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
          <xs:element name="lastCollectedId" type="xs:boolean" />
          <xs:element minOccurs="0" name="machineName" type="xs:string" />
          <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
          <xs:element maxOccurs="unbounded" minOccurs="0" name="type" nillable="true" type="tns:statisticType" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getMachineStatisticsResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:statisticDTO" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="statisticDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="dateAdded" type="xs:dateTime" />
          <xs:element minOccurs="0" name="hostName" type="xs:string" />
          <xs:element name="type" type="xs:int" />
          <xs:element minOccurs="0" name="value1" type="xs:string" />
          <xs:element minOccurs="0" name="value2" type="xs:string" />
          <xs:element minOccurs="0" name="value3" type="xs:string" />
          <xs:element minOccurs="0" name="value4" type="xs:string" />
          <xs:element minOccurs="0" name="value5" type="xs:string" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAccountCode">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:wsClientContext" />
          <xs:element minOccurs="0" name="arg1" type="tns:getAccountCodeRequestDTO" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAccountCodeRequestDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="cardNumber" type="xs:string" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAccountCodeResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:getAccountCodeResponseDTO" /> </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getAccountCodeResponseDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="accountCode" type="xs:string" /> </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="additionalFields">
        <xs:restriction base="xs:string">
          <xs:enumeration value="AFX_ACCOUNT_CODE" />
          <xs:enumeration value="AFX_ADAPTER_EXTRA_INFO" />
          <xs:enumeration value="AFX_AMOUNT" />
          <xs:enumeration value="AFX_AUTH_CODE" />
          <xs:enumeration value="AFX_CURRENCY_ALPHA_CODE" />
          <xs:enumeration value="AFX_ORRIGINA_OPERATION_TYPE" />
          <xs:enumeration value="AFX_REFERENCE_ID" />
          <xs:enumeration value="AFX_REMARK" />
          <xs:enumeration value="AFX_STATUS" />
          <xs:enumeration value="AFX_TRANSACTION_ID" />
          <xs:enumeration value="AFX_TRANSACTION_TYPE" />
          <xs:enumeration value="AF_ACCT_CODE" />
          <xs:enumeration value="AF_ADDRESS" />
          <xs:enumeration value="AF_BUSINESSPHONE" />
          <xs:enumeration value="AF_CITY" />
          <xs:enumeration value="AF_COUNT" />
          <xs:enumeration value="AF_COUNTRY" />
          <xs:enumeration value="AF_COUNTRYCODE" />
          <xs:enumeration value="AF_COUNTY" />
          <xs:enumeration value="AF_EMAIL" />
          <xs:enumeration value="AF_FAX" />
          <xs:enumeration value="AF_FIRST_NAME" />
          <xs:enumeration value="AF_GENDER" />
          <xs:enumeration value="AF_HOMEPHONE" />
          <xs:enumeration value="AF_LAST_NAME" />
          <xs:enumeration value="AF_MIDDLE_NAME" />
          <xs:enumeration value="AF_MOBILE" />
          <xs:enumeration value="AF_SHIPTOCITY" />
          <xs:enumeration value="AF_SHIPTOSTATE" />
          <xs:enumeration value="AF_SHIPTOSTREET" />
          <xs:enumeration value="AF_SHIPTOZIP" />
          <xs:enumeration value="AF_STATE" />
          <xs:enumeration value="AF_TAX_JURISDICTION" />
          <xs:enumeration value="AF_TITLE" />
          <xs:enumeration value="AF_ZIP" /> </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="pmgPaymentOperationType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="CANCEL_PAYMENT" />
          <xs:enumeration value="CANCEL_REFUND" />
          <xs:enumeration value="COMMIT_RESERVATION" />
          <xs:enumeration value="NONE" />
          <xs:enumeration value="PAYMENT" />
          <xs:enumeration value="REFUND" />
          <xs:enumeration value="RESERVE" />
          <xs:enumeration value="TRANSACTION_ROLLBACK" />
          <xs:enumeration value="VALIDATE_CREDIT_CARD_DETAILS" />
          <xs:enumeration value="VOID_RESERVATION" /> </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="pmgTransactionType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="NONE" />
          <xs:enumeration value="PAYMENT" />
          <xs:enumeration value="REFUND" /> </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="creditCardStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ACTIVE" />
          <xs:enumeration value="CLOSED" />
          <xs:enumeration value="NONE" /> </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="pmgPaymentResponseStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ADAPTER_NOT_FOUND" />
          <xs:enumeration value="ASSUMED_SUCCESS" />
          <xs:enumeration value="CAPT_FAIL" />
          <xs:enumeration value="CAPT_NOT_PERFORMED" />
          <xs:enumeration value="COMM_ERR" />
          <xs:enumeration value="COMM_ERR_TIMEOUT" />
          <xs:enumeration value="ERROR" />
          <xs:enumeration value="NONE" />
          <xs:enumeration value="PRE_AUTH_REJECTION" />
          <xs:enumeration value="PRE_AUTH_SUCCESS" />
          <xs:enumeration value="REJECTION" />
          <xs:enumeration value="REQUEST_FAILED" />
          <xs:enumeration value="REQUEST_IGNORED" />
          <xs:enumeration value="RETRY_ERR" />
          <xs:enumeration value="SUCCESS" />
          <xs:enumeration value="VALIDATION_FAIL" />
          <xs:enumeration value="VALIDATION_NOT_SUPPORTED" />
          <xs:enumeration value="VALIDATION_SUCCESS" />
          <xs:enumeration value="VOID_SUCCESS" />
          <xs:enumeration value="REJECTION_PARTIAL_PAYMENT_NOT_SUPPORTED" /> </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="pmgTransactionStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="FAIL" />
          <xs:enumeration value="IN_PROCESS" />
          <xs:enumeration value="NONE" />
          <xs:enumeration value="SUCCESS" /> </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="pmgStatOperations">
        <xs:restriction base="xs:string">
          <xs:enumeration value="APP_START" />
          <xs:enumeration value="APP_STOP" />
          <xs:enumeration value="CH_CANCEL_PAYMENT" />
          <xs:enumeration value="CH_CANCEL_REFUND" />
          <xs:enumeration value="CH_COMMIT_RESERVATION" />
          <xs:enumeration value="CH_PAYMENT" />
          <xs:enumeration value="CH_REFUND" />
          <xs:enumeration value="CH_RESERVE" />
          <xs:enumeration value="CH_TRANSACTION_ROLLBACK" />
          <xs:enumeration value="CH_VALIDATE_CREDIT_CARD_DETAILS" />
          <xs:enumeration value="CH_VOID_RESERVATION" />
          <xs:enumeration value="NONE" />
          <xs:enumeration value="PMG_ADD_CREDIT_CARD" />
          <xs:enumeration value="PMG_ADD_TEMP_CREDIT_CARD" />
          <xs:enumeration value="PMG_CANCEL_PAYMENT" />
          <xs:enumeration value="PMG_CANCEL_REFUND" />
          <xs:enumeration value="PMG_CLOSE_CREDIT_CARD" />
          <xs:enumeration value="PMG_COMMIT_RESERVATION" />
          <xs:enumeration value="PMG_GET_CREDIT_CARD" />
          <xs:enumeration value="PMG_GET_GUID" />
          <xs:enumeration value="PMG_GET_PAYMENT_OPERATION_STATUS" />
          <xs:enumeration value="PMG_PAYMENT" />
          <xs:enumeration value="PMG_REFUND" />
          <xs:enumeration value="PMG_RESERVE" />
          <xs:enumeration value="PMG_SAVE_TEMP_CREDIT_CARD" />
          <xs:enumeration value="PMG_SET_SECURITY_CODE" />
          <xs:enumeration value="PMG_SET_TRACK_DATA" />
          <xs:enumeration value="PMG_TRANSACTION_ROLLBACK" />
          <xs:enumeration value="PMG_UPDATE_CREDIT_CARD" />
          <xs:enumeration value="PMG_UPDATE_EXPIREATION_DATE" />
          <xs:enumeration value="PMG_UPDATE_TEMP_CREDIT_CARD" />
          <xs:enumeration value="PMG_VALIDATE_CREDIT_CARD_DETAILS" />
          <xs:enumeration value="PMG_VOID_RESERVATION" />
          <xs:enumeration value="PMG_GET_ACCOUNT_CODE" />
          <xs:enumeration value="PMG_SET_PIN_CODE" /> </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="statisticType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="CPU" />
          <xs:enumeration value="DBPASS" />
          <xs:enumeration value="DBSAVE" />
          <xs:enumeration value="DISK" />
          <xs:enumeration value="IO" />
          <xs:enumeration value="MAXNUMBER" />
          <xs:enumeration value="MEMORY" /> </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </types>
  <message name="PaymentManagerFacade_updateCCAccountCodeResponse">
    <part element="tns:updateCCAccountCodeResponse" name="updateCCAccountCodeResponse" /> </message>
  <message name="PaymentManagerFacade_getGUID">
    <part element="tns:getGUID" name="getGUID" /> </message>
  <message name="PaymentManagerFacade_getPaymentOperationStatus">
    <part element="tns:getPaymentOperationStatus" name="getPaymentOperationStatus" /> </message>
  <message name="PaymentManagerFacade_getAppStatisticsResponse">
    <part element="tns:getAppStatisticsResponse" name="getAppStatisticsResponse" /> </message>
  <message name="WSClientException">
    <part element="tns:WSClientException" name="WSClientException" /> </message>
  <message name="PaymentManagerFacade_addCreditCardResponse">
    <part element="tns:addCreditCardResponse" name="addCreditCardResponse" /> </message>
  <message name="PaymentManagerFacade_getGUIDResponse">
    <part element="tns:getGUIDResponse" name="getGUIDResponse" /> </message>
  <message name="PaymentManagerFacade_getCreditCardResponse">
    <part element="tns:getCreditCardResponse" name="getCreditCardResponse" /> </message>
  <message name="PaymentManagerFacade_addTempCreditCardResponse">
    <part element="tns:addTempCreditCardResponse" name="addTempCreditCardResponse" /> </message>
  <message name="PaymentManagerFacade_updateExpirationDate">
    <part element="tns:updateExpirationDate" name="updateExpirationDate" /> </message>
  <message name="PaymentManagerFacade_getCreditCard">
    <part element="tns:getCreditCard" name="getCreditCard" /> </message>
  <message name="PaymentManagerFacade_saveTempCreditCard">
    <part element="tns:saveTempCreditCard" name="saveTempCreditCard" /> </message>
  <message name="PaymentManagerFacade_getAccountCodeResponse">
    <part element="tns:getAccountCodeResponse" name="getAccountCodeResponse" /> </message>
  <message name="PaymentManagerFacade_addTempCreditCard">
    <part element="tns:addTempCreditCard" name="addTempCreditCard" /> </message>
  <message name="PaymentManagerFacade_getPaymentOperationStatusResponse">
    <part element="tns:getPaymentOperationStatusResponse" name="getPaymentOperationStatusResponse" /> </message>
  <message name="PaymentManagerFacade_getAppStatistics">
    <part element="tns:getAppStatistics" name="getAppStatistics" /> </message>
  <message name="PaymentManagerFacade_addPayment">
    <part element="tns:addPayment" name="addPayment" /> </message>
  <message name="PaymentManagerFacade_getMachineStatisticsResponse">
    <part element="tns:getMachineStatisticsResponse" name="getMachineStatisticsResponse" /> </message>
  <message name="PaymentManagerFacade_setSecurityCodeResponse">
    <part element="tns:setSecurityCodeResponse" name="setSecurityCodeResponse" /> </message>
  <message name="PaymentManagerFacade_updateTempCreditCardResponse">
    <part element="tns:updateTempCreditCardResponse" name="updateTempCreditCardResponse" /> </message>
  <message name="PaymentManagerFacade_addCreditCard">
    <part element="tns:addCreditCard" name="addCreditCard" /> </message>
  <message name="PaymentManagerFacade_setSecurityCode">
    <part element="tns:setSecurityCode" name="setSecurityCode" /> </message>
  <message name="PaymentManagerFacade_addPaymentResponse">
    <part element="tns:addPaymentResponse" name="addPaymentResponse" /> </message>
  <message name="PaymentManagerFacade_updateCCAccountCode">
    <part element="tns:updateCCAccountCode" name="updateCCAccountCode" /> </message>
  <message name="PaymentManagerFacade_saveTempCreditCardResponse">
    <part element="tns:saveTempCreditCardResponse" name="saveTempCreditCardResponse" /> </message>
  <message name="PaymentManagerFacade_closeCreditCardResponse">
    <part element="tns:closeCreditCardResponse" name="closeCreditCardResponse" /> </message>
  <message name="PaymentManagerFacade_getMachineStatistics">
    <part element="tns:getMachineStatistics" name="getMachineStatistics" /> </message>
  <message name="PaymentManagerFacade_updateExpirationDateResponse">
    <part element="tns:updateExpirationDateResponse" name="updateExpirationDateResponse" /> </message>
  <message name="PaymentManagerFacade_updateTempCreditCard">
    <part element="tns:updateTempCreditCard" name="updateTempCreditCard" /> </message>
  <message name="PaymentManagerFacade_closeCreditCard">
    <part element="tns:closeCreditCard" name="closeCreditCard" /> </message>
  <message name="PaymentManagerFacade_getAccountCode">
    <part element="tns:getAccountCode" name="getAccountCode" /> </message>
  <portType name="PaymentManagerFacade">
    <operation name="addCreditCard" parameterOrder="addCreditCard"> <input message="tns:PaymentManagerFacade_addCreditCard" /> <output message="tns:PaymentManagerFacade_addCreditCardResponse" />
      <fault message="tns:WSClientException" name="WSClientException" /> </operation>
    <operation name="addPayment" parameterOrder="addPayment"> <input message="tns:PaymentManagerFacade_addPayment" /> <output message="tns:PaymentManagerFacade_addPaymentResponse" />
      <fault message="tns:WSClientException" name="WSClientException" /> </operation>
    <operation name="addTempCreditCard" parameterOrder="addTempCreditCard"> <input message="tns:PaymentManagerFacade_addTempCreditCard" /> <output message="tns:PaymentManagerFacade_addTempCreditCardResponse" />
      <fault message="tns:WSClientException" name="WSClientException" /> </operation>
    <operation name="closeCreditCard" parameterOrder="closeCreditCard"> <input message="tns:PaymentManagerFacade_closeCreditCard" /> <output message="tns:PaymentManagerFacade_closeCreditCardResponse" />
      <fault message="tns:WSClientException" name="WSClientException" /> </operation>
    <operation name="getAccountCode" parameterOrder="getAccountCode"> <input message="tns:PaymentManagerFacade_getAccountCode" /> <output message="tns:PaymentManagerFacade_getAccountCodeResponse" />
      <fault message="tns:WSClientException" name="WSClientException" /> </operation>
    <operation name="getAppStatistics" parameterOrder="getAppStatistics"> <input message="tns:PaymentManagerFacade_getAppStatistics" /> <output message="tns:PaymentManagerFacade_getAppStatisticsResponse" />
      <fault message="tns:WSClientException" name="WSClientException" /> </operation>
    <operation name="getCreditCard" parameterOrder="getCreditCard"> <input message="tns:PaymentManagerFacade_getCreditCard" /> <output message="tns:PaymentManagerFacade_getCreditCardResponse" />
      <fault message="tns:WSClientException" name="WSClientException" /> </operation>
    <operation name="getGUID" parameterOrder="getGUID"> <input message="tns:PaymentManagerFacade_getGUID" /> <output message="tns:PaymentManagerFacade_getGUIDResponse" />
      <fault message="tns:WSClientException" name="WSClientException" /> </operation>
    <operation name="getMachineStatistics" parameterOrder="getMachineStatistics"> <input message="tns:PaymentManagerFacade_getMachineStatistics" /> <output message="tns:PaymentManagerFacade_getMachineStatisticsResponse" />
      <fault message="tns:WSClientException" name="WSClientException" /> </operation>
    <operation name="getPaymentOperationStatus" parameterOrder="getPaymentOperationStatus"> <input message="tns:PaymentManagerFacade_getPaymentOperationStatus" /> <output message="tns:PaymentManagerFacade_getPaymentOperationStatusResponse" />
      <fault message="tns:WSClientException" name="WSClientException" /> </operation>
    <operation name="saveTempCreditCard" parameterOrder="saveTempCreditCard"> <input message="tns:PaymentManagerFacade_saveTempCreditCard" /> <output message="tns:PaymentManagerFacade_saveTempCreditCardResponse" />
      <fault message="tns:WSClientException" name="WSClientException" /> </operation>
    <operation name="setSecurityCode" parameterOrder="setSecurityCode"> <input message="tns:PaymentManagerFacade_setSecurityCode" /> <output message="tns:PaymentManagerFacade_setSecurityCodeResponse" />
      <fault message="tns:WSClientException" name="WSClientException" /> </operation>
    <operation name="updateCCAccountCode" parameterOrder="updateCCAccountCode"> <input message="tns:PaymentManagerFacade_updateCCAccountCode" /> <output message="tns:PaymentManagerFacade_updateCCAccountCodeResponse" />
      <fault message="tns:WSClientException" name="WSClientException" /> </operation>
    <operation name="updateExpirationDate" parameterOrder="updateExpirationDate"> <input message="tns:PaymentManagerFacade_updateExpirationDate" /> <output message="tns:PaymentManagerFacade_updateExpirationDateResponse" />
      <fault message="tns:WSClientException" name="WSClientException" /> </operation>
    <operation name="updateTempCreditCard" parameterOrder="updateTempCreditCard"> <input message="tns:PaymentManagerFacade_updateTempCreditCard" /> <output message="tns:PaymentManagerFacade_updateTempCreditCardResponse" />
      <fault message="tns:WSClientException" name="WSClientException" /> </operation>
  </portType>
  <binding name="PaymentManagerFacadeBinding" type="tns:PaymentManagerFacade">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="addCreditCard">
      <soap:operation soapAction="" /> <input>
      <soap:body use="literal" /> </input> <output>
<soap:body use="literal"/>
</output>
      <fault name="WSClientException">
        <soap:fault name="WSClientException" use="literal" /> </fault>
    </operation>
    <operation name="addPayment">
      <soap:operation soapAction="" /> <input>
      <soap:body use="literal" /> </input> <output>
<soap:body use="literal"/>
</output>
      <fault name="WSClientException">
        <soap:fault name="WSClientException" use="literal" /> </fault>
    </operation>
    <operation name="addTempCreditCard">
      <soap:operation soapAction="" /> <input>
      <soap:body use="literal" /> </input> <output>
<soap:body use="literal"/>
</output>
      <fault name="WSClientException">
        <soap:fault name="WSClientException" use="literal" /> </fault>
    </operation>
    <operation name="closeCreditCard">
      <soap:operation soapAction="" /> <input>
      <soap:body use="literal" /> </input> <output>
<soap:body use="literal"/>
</output>
      <fault name="WSClientException">
        <soap:fault name="WSClientException" use="literal" /> </fault>
    </operation>
    <operation name="getAccountCode">
      <soap:operation soapAction="" /> <input>
      <soap:body use="literal" /> </input> <output>
<soap:body use="literal"/>
</output>
      <fault name="WSClientException">
        <soap:fault name="WSClientException" use="literal" /> </fault>
    </operation>
    <operation name="getAppStatistics">
      <soap:operation soapAction="" /> <input>
      <soap:body use="literal" /> </input> <output>
<soap:body use="literal"/>
</output>
      <fault name="WSClientException">
        <soap:fault name="WSClientException" use="literal" /> </fault>
    </operation>
    <operation name="getCreditCard">
      <soap:operation soapAction="" /> <input>
      <soap:body use="literal" /> </input> <output>
<soap:body use="literal"/>
</output>
      <fault name="WSClientException">
        <soap:fault name="WSClientException" use="literal" /> </fault>
    </operation>
    <operation name="getGUID">
      <soap:operation soapAction="" /> <input>
      <soap:body use="literal" /> </input> <output>
<soap:body use="literal"/>
</output>
      <fault name="WSClientException">
        <soap:fault name="WSClientException" use="literal" /> </fault>
    </operation>
    <operation name="getMachineStatistics">
      <soap:operation soapAction="" /> <input>
      <soap:body use="literal" /> </input> <output>
<soap:body use="literal"/>
</output>
      <fault name="WSClientException">
        <soap:fault name="WSClientException" use="literal" /> </fault>
    </operation>
    <operation name="getPaymentOperationStatus">
      <soap:operation soapAction="" /> <input>
      <soap:body use="literal" /> </input> <output>
<soap:body use="literal"/>
</output>
      <fault name="WSClientException">
        <soap:fault name="WSClientException" use="literal" /> </fault>
    </operation>
    <operation name="saveTempCreditCard">
      <soap:operation soapAction="" /> <input>
      <soap:body use="literal" /> </input> <output>
<soap:body use="literal"/>
</output>
      <fault name="WSClientException">
        <soap:fault name="WSClientException" use="literal" /> </fault>
    </operation>
    <operation name="setSecurityCode">
      <soap:operation soapAction="" /> <input>
      <soap:body use="literal" /> </input> <output>
<soap:body use="literal"/>
</output>
      <fault name="WSClientException">
        <soap:fault name="WSClientException" use="literal" /> </fault>
    </operation>
    <operation name="updateCCAccountCode">
      <soap:operation soapAction="" /> <input>
      <soap:body use="literal" /> </input> <output>
<soap:body use="literal"/>
</output>
      <fault name="WSClientException">
        <soap:fault name="WSClientException" use="literal" /> </fault>
    </operation>
    <operation name="updateExpirationDate">
      <soap:operation soapAction="" /> <input>
      <soap:body use="literal" /> </input> <output>
<soap:body use="literal"/>
</output>
      <fault name="WSClientException">
        <soap:fault name="WSClientException" use="literal" /> </fault>
    </operation>
    <operation name="updateTempCreditCard">
      <soap:operation soapAction="" /> <input>
      <soap:body use="literal" /> </input> <output>
<soap:body use="literal"/>
</output>
      <fault name="WSClientException">
        <soap:fault name="WSClientException" use="literal" /> </fault>
    </operation>
  </binding>
  <service name="PaymentManager">
    <port binding="tns:PaymentManagerFacadeBinding" name="PaymentManagerPort">
      <soap:address location="https://mindapi.iristel.com:8847/PaymentManager/PaymentManager" /> </port>
  </service>
</definitions>